In [1]:
print("Hello world")

Hello world

In [4]:
import numpy as np
import matplotlib.pyplot as mlt
import pandas as pd 

# imported libraries

In [ ]:
# #clean per-capita-meat-type.csv
# import pandas as pd

# meat_df = pd.read_csv("datasets/per-capita-meat-type.csv")
# codes_df = pd.read_csv("datasets/codes.csv")

# merged = pd.merge(meat_df, codes_df, left_on="Code", right_on="alpha-3", how="left")

# filtered = merged[merged["region"].isin(["Asia", "Europe"])]

# latest = filtered.sort_values("Year").groupby("Code").tail(1)

# meat_columns = [col for col in latest.columns if col.startswith("Meat")]
# latest["Total_Meat_kg_per_capita"] = latest[meat_columns].sum(axis=1)

# final_df = latest[["Entity", "Code", "Year", "region", "Total_Meat_kg_per_capita"] + meat_columns]

# final_df.to_csv("asia_europe_meat_consumption.csv", index=False)

# print(final_df["region"].value_counts())

region
Asia      48
Europe    39
Name: count, dtype: int64

In [6]:
codes = pd.read_csv("datasets\codes.csv")
meat_consumption = pd.read_csv("datasets\meat_consumption_worldwide.csv")
michelin = pd.read_csv("datasets\michelin.csv")

print(codes.head())
print(meat_consumption.head())
print(michelin.head())

             name alpha-2 alpha-3  country-code     iso_3166-2   region  \
0     Afghanistan      AF     AFG             4  ISO 3166-2:AF     Asia
1   Åland Islands      AX     ALA           248  ISO 3166-2:AX   Europe
2         Albania      AL     ALB             8  ISO 3166-2:AL   Europe
3         Algeria      DZ     DZA            12  ISO 3166-2:DZ   Africa
4  American Samoa      AS     ASM            16  ISO 3166-2:AS  Oceania

        sub-region intermediate-region  region-code  sub-region-code  \
0    Southern Asia                 NaN        142.0             34.0
1  Northern Europe                 NaN        150.0            154.0
2  Southern Europe                 NaN        150.0             39.0
3  Northern Africa                 NaN          2.0             15.0
4        Polynesia                 NaN          9.0             61.0

   intermediate-region-code
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
  LOCATION SUBJECT MEASURE  TIME      Value
0      AUS    BEEF  KG_CAP  1991  27.721815
1      AUS    BEEF  KG_CAP  1992  26.199591
2      AUS    BEEF  KG_CAP  1993  26.169094
3      AUS    BEEF  KG_CAP  1994  25.456134
4      AUS    BEEF  KG_CAP  1995  25.340226
                 name                                              blurb  \
0           'L Chimpl  Haute cuisine has arrived at the “simple” Gran...
1  't Amsterdammertje         If you’re a fan of hip, vibrant and trendy
2          't Fornuis    ’t Fornuis is a restaurant that has become rare
3        't Korennaer  Edwin Van Goethem jazzes up his cooking with i...
4          't Lansink  Warmth and character are the hallmarks of ’t L...

  michelin_award                 city      country        lat        lon  \
0       ONE_STAR               Tamion        Italy  46.407342  11.656432
1       ONE_STAR  Loenen aan de Vecht  Netherlands  52.209859   5.021655
2       ONE_STAR            Antwerpen      Belgium  51.219039   4.399448
3       ONE_STAR     Nieuwkerken-Waas      Belgium  51.192947   4.178107
4       ONE_STAR              Hengelo  Netherlands  52.259676   6.782364

                                               image               chef  \
0  https://axwwgrkdco.cloudimg.io/v7/mitp-p-001-d...     Stefano Ghetta
1  https://axwwgrkdco.cloudimg.io/v7/mitp-p-001-d...      André Gerrits
2  https://axwwgrkdco.cloudimg.io/v7/mitp-p-001-d...       Johan Segers
3  https://axwwgrkdco.cloudimg.io/v7/mitp-p-001-d...  Edwin Van Goethem
4  https://axwwgrkdco.cloudimg.io/v7/mtp-cf-image...     Lars van Galen

          cuisine1       cuisine2  \
0         Creative   Contemporary
1         Creative            NaN
2  Classic Cuisine            NaN
3   Modern Cuisine            NaN
4   Modern Cuisine  Modern French

                                                 url  \
0  https://guide.michelin.com/en/trentino-alto-ad...
1  https://guide.michelin.com/en/utrecht/loenen-a...
2  https://guide.michelin.com/en/antwerpen/be-ant...
3  https://guide.michelin.com/en/oost-vlaanderen/...
4  https://guide.michelin.com/en/overijssel/henge...

                                                url2
0  https://guide.michelin.com/en/trentino-alto-ad...
1  https://guide.michelin.com/en/utrecht/loenen-a...
2  https://guide.michelin.com/en/antwerpen/be-ant...
3  https://guide.michelin.com/en/oost-vlaanderen/...
4  https://guide.michelin.com/en/overijssel/henge...

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:2: SyntaxWarning: invalid escape sequence '\m'
<>:3: SyntaxWarning: invalid escape sequence '\m'
<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:2: SyntaxWarning: invalid escape sequence '\m'
<>:3: SyntaxWarning: invalid escape sequence '\m'
C:\Users\takoo\AppData\Local\Temp\ipykernel_23604\2821011415.py:1: SyntaxWarning: invalid escape sequence '\c'
  codes = pd.read_csv("datasets\codes.csv")
C:\Users\takoo\AppData\Local\Temp\ipykernel_23604\2821011415.py:2: SyntaxWarning: invalid escape sequence '\m'
  meat_consumption = pd.read_csv("datasets\meat_consumption_worldwide.csv")
C:\Users\takoo\AppData\Local\Temp\ipykernel_23604\2821011415.py:3: SyntaxWarning: invalid escape sequence '\m'
  michelin = pd.read_csv("datasets\michelin.csv")

In [ ]:
# CLEANUP - Michelin, to only include European and Asian restaurants.
# Take the country dataset
# Fix it for South Korea
# Only take countries found in the list of countries in codes (this will be only europe and asia)

# Mapping mismatches from michelin country names to ISO-style names in codes
country_replacements = {
    "Schweiz": "Switzerland",
    "Suisse": "Switzerland",
    "Svizzera": "Switzerland",
    "South Korea": "Korea, Republic of",
    "Deutschland": "Germany",
    "Taipei & Taichung": "Taiwan, Province of China",
    "United States": "United States of America",
    "United Kingdom": "United Kingdom of Great Britain and Northern Ireland",
    "Macau": "Macao",
    "China Mainland": "China",
    "Nederland": "Netherlands, Kingdom of the",
    "Россия": "Russian Federation"
}

# Apply replacements
michelin['country'] = michelin['country'].replace(country_replacements)

# Filter to only countries that exist in codes['name']
filtered_michelin = michelin[michelin['country'].isin(codes['name'])]

european_countries = codes[codes['region'] == 'Europe']['name']
asian_countries = codes[codes['region'] == 'Asia']['name']
# Filter by European or Asian
# Select all rows in filtered michelin where the country column's value is associated with the Europe region in the coes.csv
european_michelin = michelin[michelin['country'].isin(european_countries)]
asian_michelin = michelin[michelin['country'].isin(asian_countries)]

In [ ]:
# What we are going to do is use bootstrap sampling on the correlation between meat consumption and michlein star count.
# The rationale here is as such:
# Each COUNTRY has two VALUES. These VALUES are MEAT CONSUMPTION and MICHELIN COUNT (this can be either count of restaurants or count of stars.)
# We divide the two groups of countries into ASIAN and EUROPEAN.